<h1>My Todo's</h1>
<div class="alert alert-success" *ngIf='message'>{{message}}</div>
<div class="container">
    <table class="table">
        <caption>List todos</caption>
        <thead>
            <tr>
                <th>Description</th>
                <th>Target Date</th>
                <th>is Completed?</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <td>{{todo.targetDate | date}}</td>
                <td>{{todo.done | changeStatusPipe:transform}}</td>
                <td><button class="btn btn-info" (click)="updateTodo(todo.id)">Update</button></td>
                <td><button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <button class="btn btn-success" (click)="addTodo()">Add</button>
    </div>
</div>