<h1>Todo </h1>
<div class="container">
    <fieldset class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="todo.description" name="description" required="required">
    </fieldset>

    <fieldset class="form-group">
        <label for="targetDate">TargetDate</label>
        <input type="date" class="form-control" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " (ngModelChange)="todo.targetDate = $event" name="targetDate" required="required">
    </fieldset>
    <button class="btn btn-success" (click)="saveTodo()">Save</button>
</div>