<h1>Todo </h1>
<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty &&  todoForm.invalid">Enter Invalid Value</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty &&  targetDate.invalid">Enter Invalid targetDate Value</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty &&  description.invalid">Enter Invalid description Value</div>
    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" #description="ngModel" [(ngModel)]="todo.description" name="description" required="required">
        </fieldset>

        <fieldset class="form-group">
            <label for="targetDate">TargetDate</label>
            <input type="date" class="form-control" #targetDate="ngModel" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " (ngModelChange)="todo.targetDate = $event" name="targetDate" required="required">
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>